*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
    margin: 0;
}

body {
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    margin: 0;
    padding: 0;
}



@import './loading_spinner.css';

.loading {
    text-align: center;
    height: 100%;
}

.loading .sk-folding-cube {
    margin: 10% auto;
}