html, body {
    height: 100%;
    margin: 0;

    /* Print right */
    -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
    color-adjust: exact !important;                 /*Firefox*/
}

body {
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}


@media print{
    body{
        zoom:100%
    }
}

@import './loading_spinner.css';

.loading {
    text-align: center;
    height: 100%;
}

.loading .sk-folding-cube {
    margin: 10% auto;
}