*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    margin: 0;
    font-size: 100%
}

body {
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-size: 1em;
}

.trenner {
    border-width: 0 0 1px;
    color: #2F4F4F;
    border-image: linear-gradient(90deg, rgba(135, 206, 235, 0),#2F4F4F 50%, rgba(135, 206, 235, 0) 100%) 0 0 100%;
    border-style: solid;
}

@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,700');