{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "targets": {
          "browsers": [
            "> 1% in DE",
            "last 2 versions",
            "ie > 11"
          ]
        }
      }
    ]
  ],
  "plugins": [
    ["transform-imports", {
        "keen-ui": {
          "transform": "keen-ui/src/${member}",
          "preventFullImport": true
      }
    }]
  ]
}