{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "targets": {
          "browsers": [
            "> 2% in DE",
            "last 2 versions",
            "ie > 11",
            "not dead"
          ]
        }
      }
    ]
  ],
  "plugins": [ ["@babel/plugin-transform-runtime", {
    "corejs": 2
  }]]
}